header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    display: flex;
}

header nav a {
    display: inline-flex;
    margin-right: 10px;
}