/* color palette from <https://github.com/vuejs/theme> */
:root {
  --gradient-background: linear-gradient(#bdc3c7, #2c3e50);
  --text-color: black;
  --button-background: #bdc3c7;
}

[data-theme='dark'] {
  --gradient-background: linear-gradient(#0F2027, #203A43, #2C5364);
  --text-color: white;
  --button-background: #0F2027;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--gradient-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Changa, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text-color);
}

button {
  color: var(--text-color);
  background: var(--button-background);
  border: 1px solid var(--button-background);
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: Changa, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  transition: opacity 0.3s ease-out;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

p {
  margin: 5px 0;
}